$mainColor : #ff0000;

.wow-enter {    
    opacity: 0;
}

.wow-enter-active {
    opacity: 1;
    transition: all 500ms;
}


.red {
    color : $mainColor;
    padding : 20px;
    font-size: 25px;
}

.my-alert {
    background : #eeeeee;
    padding : 15px;
    border-radius : 5px;
    max-width : 500px;
    width : 100%;
    margin : auto;
}

.my-alert2 {
    @extend .my-alert;
    background : #ffe591;
}

.my-alert p {
margin-bottom : 0;
}

// div.container {                         //nesting 문법
//     .red {
//         color : blue;
//     }
// }